@import 'media_queries';

p{
    margin:0px !important;
}

.container-detail{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    .body-detail-container{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .body-left{
            padding-top:10px;
            width:20%;
            height:100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            flex-direction: column;
            border-right:1px solid #dedede;

            @include tablet {
                width:30%;
            }

            .img-box-pokedex{
                width:90%;
                height:250px;
                border-radius:50%;
                background-color: #dedede;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width:80%;
                    height:80%;
                }
                @include mobile450{
                    height:20%
                }
            }
            .pokedex-name{
                width:auto;
                height:70px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius:1rem;
                position: relative;
                top:-30px;
                background-color: white;;
                border:1px solid #dedede;
                box-shadow:rgb(49 53 59 / 12%) 0px 1px 6px 0px;
                padding:10px;
                
                p{
                    font-size:1em;
                    font-weight:700;
                    margin:0px !important;
                }
            }
            .box-type-pokemon{
                width:100%;
                height:auto;
                display: flex;
                flex-direction: row;
                padding:10px;
                flex-wrap: wrap;

                .type-pokemon-card{
                    width:45%;
                    height:50px;
                    border-radius:30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fd7d24;
                    margin:5px;

                    @include mobile450 {
                        p{
                            font-size:0.7em !important;
                        }
                    }

                    p{
                        font-size:1em;
                        font-weight:700;
                        color:white;
                    }

                    
                }
            }
            .btn-catching{
                width:80%;
                height:200px;
                // border:1px solid black;
                // position: sticky;
                border-radius:8px;
                bottom:0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition:0.5s;
                text-decoration: none!important;
                box-shadow:rgb(49 53 59 / 12%) 0px 1px 6px 0px;
                color:#ea4208;
                &:hover{
                    cursor: pointer;
                    background-color: #dedede;
                    -webkit-transform: scale(1.05, 1.05);
	                transform: scale(1.05, 1.05);
                    color:white;
                    
                }
                @include mobile450{
                    height:15%;
                    p{
                        font-size:16px;
                    }
                }
                .box-pokeball{
                    width:100%;
                    height:70%;
                    padding:10px;
                    img{
                        width:100%;
                        height:100%;
                    }
                }

                p{
                    
                    font-size:24px;
                    font-weight:700;
                }
            }
        }
        .body-right{
            width:80%;
            height:100%;
            display: flex;
            justify-content: center;
            // align-items: center;
            padding:10px;
            @include tablet {
                width:70%;
            }
            .body-abilities{
                width:20%;
                height:100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                padding-top:20px;
                @include tablet {
                    width:30%;
                }
                .bold-item{
                    color:#ea4208;
                    font-weight:700;
                }

                p{
                    font-size:1.5em;
                }
                .box-card-moves{
                    padding:20px;
                    width:100%;
                    height:auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    @include mobile450{
                        padding:0px;
                    }
                    // justify-content: center;
                    // align-items: center;
                    // align-items: center;
                    .small-card-information{
                        width:auto;
                        padding:10px;
                        // min-width:150px;
                        height:50px;
                        border-radius:30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:5px;
                        box-shadow:rgb(49 53 59 / 12%) 0px 1px 6px 0px;
                        p{
                            font-size:1em;
                            font-weight:700;
                        }
                        @include tablet { 
                            // min-width:130px;
                            min-width:100%;
                        }
                        @include tablet600 {
                            
                            min-width:100%;
                            margin:2px;
                            height:40px;
                            p{
                                font-size:0.6em;
                            }
                        }
                    }
                }

            }

            .body-moves{
                width:80%;
                height:100%;
                display: flex;
                // justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-top:20px;
                overflow-x:scroll;
                @include tablet {
                    width:70%;
                }
                @include mobile450{
                    height:70%;
                }
                .bold-item{
                    color:#ea4208;
                    font-weight:700;
                }
                p{
                    font-size:1.5em;
                }

                .box-card-moves{
                    padding:20px;
                    width:100%;
                    height:auto;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    // justify-content: center;
                    // align-items: center;
                    // align-items: center;
                    .small-card-information{
                        width:auto;
                        padding:10px;
                        min-width:150px;
                        height:50px;
                        border-radius:30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:5px;
                        box-shadow:rgb(49 53 59 / 12%) 0px 1px 6px 0px;
                        p{
                            font-size:1em;
                            font-weight:700;
                        }
                        @include tablet { 
                            // min-width:130px;
                            min-width:100%;
                        }
                        @include tablet600 {
                            min-width:45%;
                            margin:2px;
                            height:40px;
                            p{
                                font-size:0.6em;
                            }
                        }
                    }
                }
                
            }

        }

    }

    .box-catching-pokemon{
        width:100%;
        height:100px;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
}